.profile-img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

img {
    border-radius: 2em; 
} 

@media (max-width:800px) {
    .grid {
        display: block;
    }

    .profile-img {
        width: 85%;
    }
}