.header {
    display:flex;
    justify-content: flex-end;
    gap:3em;
    align-items: center;
    margin: 1.25em 1.5em 3.5em;
}

.links {
    text-decoration: none;
    font-size: 1.75rem;
}